table {
    width: 100%;
}
table td, div.students table thead th{
  border: 1px solid white;
  text-align: center;
  padding: 7px;
}
div.students table thead th{
  font-size: 16px;
  padding: 17px 7px;
}
div.students table tbody tr:hover {
  background-color: darkgoldenrod;
  cursor: pointer;
}

table.summary td{
  width: 25%;
  height: 50px;
}



.gradeWeightColorLegend{
  padding: 6px 15px;
  margin: 3px;
  display: inline-block;
  border: 2px solid white;
  margin-right: 10px;
  position: relative;
}
.gradeWeightColor{
    font-size: 12px;
    font-weight: 700;
    padding: 5px 8px;
    margin: 3px;
    display: inline-block;
    border: 2px solid white;
    margin-right: 10px;
}
div.gainedGrades{
    margin: 15px;
}
label {
    display: block;
    font-size: 11.5px;
    margin-bottom: 0;
}
input {
    outline: none;
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 90%;
    height: 23px;
    font-size: 14px;
    text-align: center;
    background-color: black;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    text-shadow: none;
}
select {
    font-size: 12px;
    width: 30px;
    margin-top: 5px;
    line-height: 1.7em;
    text-shadow: none;
    padding-left: 6px;
    border-radius: 2px;
    background-color: black;
    appearance: none;
    background-image: url("./../assets/arrow_down.png");
    background-repeat: no-repeat, repeat;
    background-position: right .3em top 50%, 0 0 ;
    background-size: .55em auto, 130%
}




span.remove{
    font-size: 10px;
    text-decoration: underline;
}
span.remove:hover{
    cursor: pointer;
}
.addStudentPanelGradesContentSingleDescription span.descriptionCount {
    font-size: 9px;
}
.gradeWeightGreen {
    text-shadow: 5px 0px 20px #3be029, -5px 0px 20px #3be029, 0px 5px 20px #3be029, 0px -5px 20px #3be029;
    background-color: #3be029;
    color: black;
}

.gradeWeightYellow {
    text-shadow: 5px 0px 20px #ffc800, -5px 0px 20px #ffc800, 0px 5px 20px #ffc800, 0px -5px 20px #ffc800;
    background-color: #ffc800;
    color: black;
}

.gradeWeightRed {
    text-shadow: 5px 0px 20px #ff001e, -5px 0px 20px #ff001e, 0px 5px 20px #ff001e, 0px -5px 20px #ff001e;
    background-color: #ff001e;
    filter: blur(10px;)
}



span.fire {
    padding: 10px 35px;
    border: 1px solid whitesmoke;
    text-shadow: none;
    background-image: url(./Animated_fire_by_nevit.gif);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: fire 5s linear infinite;
    -webkit-backface-visibility: hidden;
}

@keyframes fire {
    0% {
        background-position: 90% 95%
    }
    50% {
        background-position: center;
    }
    100% {
        background-position: 90% 95%
    }
}

@media (max-width: 768px){
  table td, table th{
    font-size: 9px !important;
    padding: 3px 5px !important;
  }
  .gradeWeightColor .gradeWeightColorLegend{
    padding: 3px 4px;
    margin: 2px 3px;
    float: left;
  }
  tbody .gradeWeightColor{
    margin: 2px 3px;
    padding: 2px 4.5px !important;
    font-size: 9px;
    border: .5px solid white;
    float: left;
  }
  span.fire{
    padding: 5px 3px !important;
  }
}
