table {
    width: 100%;
}
table td, div.students table thead th{
  border: 1px solid white;
  text-align: center;
  padding: 12px 15px;
}
div.students table thead th{
  font-size: 18px;
}
div.students table tbody tr:hover {
    background-color: darkgoldenrod;
    cursor: pointer;
}

table.summary td{
  width: 25%;
  height: 50px;
}




.gradeWeightColor {
    padding: 5px 9px;
    margin: 3px;
    display: inline-block;
    border: 2px solid white;
    /* width: 32px; */
    margin-right: 10px;
    position: relative;
}

.gradeWeightGreen {
    text-shadow: 5px 0px 20px #3be029, -5px 0px 20px #3be029, 0px 5px 20px #3be029, 0px -5px 20px #3be029;
    background-color: #3be029;
    color: black;
}

.gradeWeightYellow {
    text-shadow: 5px 0px 20px #ffc800, -5px 0px 20px #ffc800, 0px 5px 20px #ffc800, 0px -5px 20px #ffc800;
    background-color: #ffc800;
    color: black;
}

.gradeWeightRed {
    text-shadow: 5px 0px 20px #ff001e, -5px 0px 20px #ff001e, 0px 5px 20px #ff001e, 0px -5px 20px #ff001e;
    background-color: #ff001e;
    filter: blur(10px;)
}



span.fire {
    padding: 17px 35px;
    border: 1px solid whitesmoke;
    text-shadow: none;
    background-image: url(./Animated_fire_by_nevit.gif);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: fire 5s linear infinite;
    -webkit-backface-visibility: hidden;
}

@keyframes fire {

    0% {
        background-position: 90% 95%
    }

    ;

    50% {
        background-position: center;
    }

    100% {
        background-position: 90% 95%
    }

    ;
}
@media (max-width: 768px){
  *{
    /* font-size: 10px !important; */
  }
  table td, table th{
    /* background-color: blue; */
    font-size: 9px !important;
    padding: 3px 5px !important;
  }
  /* div.students table td:nth-child(4){
    padding: 0px !important;
  } */
  .gradeWeightColor{
    padding: 3px 4px;
      margin: 2px 3px;
      float: left;
  }
  tbody .gradeWeightColor{
    margin: 2px 3px;
      padding: 2px 4.5px !important;
      font-size: 9px;
      border: .5px solid white;
      float: left;
  }
  span.fire{
    padding: 5px 3px !important;
  }
}
